{
    "plugins": [
      [
        "module-resolver",
        {
          "cwd": "babelrc",
          "alias": {
            "Components": "./src/components"
          }
        }
      ]
    ],
    // presets are a set of of plug-ins
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ]
  }